SECRET_KEY= # Здесь должен находиться ваш секретный Django-ключ

# Параметры подключения к базе данных
NAME= # Название БД
USER= # Имя пользователя БД
PASSWORD= # Пароль пользователя БД
HOST= # Хост подключаемой БД
PORT= # Порт подключения БД