SECRET_KEY= # Здесь должен находиться ваш секретный Django-ключ

# Параметры подключения к базе данных
NAME= # Название БД
USER= # Имя пользователя БД
PASSWORD= # Пароль пользователя БД
HOST= # Хост подключаемой БД
PORT= # Порт подключения БД

# Параметры подключения к SMTP-серверу для организации рассылок электронных писем
EMAIL_HOST= # Адрес SMTP-сервера, по умолчанию используется smtp.gmail.com
EMAIL_PORT= # Порт для TLS-соединения, по умолчанию используется 587
EMAIL_USE_TLS= # Использование TLS-протокола шифрования, по умолчанию используется True
EMAIL_USE_SSL= # Использование SSL-протокола шифрования, по умолчанию используется False
EMAIL_HOST_USER= # Ваш email, должен соответствовать значению EMAIL_HOST
EMAIL_HOST_PASSWORD= # Пароль приложения