{% extends 'base.html' %}

{% block title %} Skystore {% endblock %}

{% block header %}
    {% include 'catalog/header.html' %}
{% endblock %}

{% block content %}
    {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title">{{product.price}} рублей</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3 ">
                        <li class="text-center">
                            {% if product.photo %}
                                <img src=" {{product.photo.url}} " alt="{{ product.name }}" style="height: 100px">
                            {% endif %}
                        </li>
                        <li>{{product.category}}</li>
                        <li>{{product.description|truncatechars:100}}</li>
                    </ul>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/product/{{ product.id }}" role="button">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Страницы</h5>
        <nav class="ms-5">
            {% for page in paginator %}
                <a class="p-2 btn btn-outline-primary" style="width: 40px" href="/catalog/page/{{ page.number }}/">{{ page.number }}</a>
            {% endfor %}
        </nav>
    </div>
{% endblock %}