{% extends 'catalog/base.html' %}

{% block title %} {{object.name}} {% endblock %}

{% block header %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h6 class="display-3">{{object.name}}</h6>
    </div>
{% endblock %}

{% block content %}
    <div>
        <ul class="list-unstyled mt-3 mb-4 text-start m-3 text-center">
            <li>
                {% if object.photo %}
                    <img src=" {{product.photo.url}} " alt="{{ product.name }}" style="height: 500px">
                {% endif %}
            </li>
            <li>Категория: {{object.category}}</li>
            <li>Описание: {{object.description}}</li>
            <li>Цена: {{object.price}} рублей</li>
        </ul>
    </div>
{% endblock %}